<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">9x25 MobileAP MDNS</name>
<service>
<type>_http._tcp</type>
<port>80</port>
</service>
</service-group>
